## Readmission causes of patient's with Diabetes
Unplanned hospital readmissions impose a substantial financial burden of approximately $15-20 billion annually on healthcare providers in the United States. By mitigating readmission rates among patients with diabetes, there is a twofold potential: improvement of healthcare systems and enhancing the overall well-being of patients. Precise management of blood sugar levels in individuals with diabetes yields a noteworthy decrease in both mortality and morbidity rates.

This analysis aims to scrutinize historical trends in diabetes care for patients hospitalized in the US, subsequently guiding the formulation of medical protocols for superior patient care. Within this investigation, particular emphasis is placed on the significance of the HbA1c marker in managing diabetes mellitus patients. The hypothesis asserts that the measurement of HbA1c is intrinsically linked to  reduction in readmission rates for individuals undergoing hospitalization.

## Problem Statement
Hospital readmissions are detrimental to patients with diabetes healthwise, financially and timewise. It is important to understand the variables that contribute to these readmissions to enable improve quality of care of the patients

## Objectives
1. To identify the most common primary diagnosis by age group
2. To identify the effect of a diabetes diagnosis on readmission rates
3. To identify groups of patients with high probability of readmission
4. To predict the significance of HbA1c marker in readmission rates

In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LogisticRegression

In [31]:
#loading data
df = pd.read_csv('C:/Users/Wendy/Documents/readmission_ds/Diabetes_Readmissions/diabetic_data.csv')
df

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),?,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),?,1,4,5,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),?,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),?,2,3,7,10,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO

In [32]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [33]:
df.tail()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
101761,443847548,100162476,AfricanAmerican,Male,[70-80),?,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),?,1,4,5,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),?,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),?,2,3,7,10,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [35]:
def inspect_df(df):
    """This prints out the summary from the inspection of the data"""

    return {"Dimensions": f"This data set has {df.shape[0]} rows and {df.shape[1]} columns",
            "Duplicates": f"The data has {df.duplicated().sum()} duplicated entries and {len(df) - df.duplicated().sum()} non duplicated entries",
            "Missing values (%)": f"{(df.isna().sum().sum() / (df.shape[0] * df.shape[1])) * 100} % of the data has missing values",
            "Summary statistics": df.describe().T}
          
total_rows = len(df)
def inspect_col(df, col):
  """Summary Inspection of the column in focus"""
  
  return {"Top 5 value counts": df[col].value_counts()[:5],
          "Number of unique values": df[col].nunique(),
          "data type": df[col].dtype,
          "Missing Values": f"{col} has {df[col].isna().sum()/total_rows * 100 :.2f} % missing values."}
  
  # Summary data of the data frame
inspect_df(df)

{'Dimensions': 'This data set has 101766 rows and 50 columns',
 'Duplicates': 'The data has 0 duplicated entries and 101766 non duplicated entries',
 'Missing values (%)': '0.0 % of the data has missing values',
 'Summary statistics':                              count          mean           std      min  \
 encounter_id              101766.0  1.652016e+08  1.026403e+08  12522.0
 patient_nbr               101766.0  5.433040e+07  3.869636e+07    135.0
 admission_type_id         101766.0  2.024006e+00  1.445403e+00      1.0
 discharge_disposition_id  101766.0  3.715642e+00  5.280166e+00      1.0
 admission_source_id       101766.0  5.754437e+00  4.064081e+00      1.0
 time_in_hospital          101766.0  4.395987e+00  2.985108e+00      1.0
 num_lab_procedures        101766.0  4.309564e+01  1.967436e+01      1.0
 num_procedures            101766.0  1.339730e+00  1.705807e+00      0.0
 num_medications           101766.0  1.602184e+01  8.127566e+00      1.0
 number_outpatient         101766.0  3.693572e-01  1.267265e+00      0.0
 number_emergency          101766.0  1.978362e-01  9.304723e-01      0.0
 number_inpatient          101766.0  6.355659e-01  1.262863e+00      0.0
 number_diagnoses          101766.0  7.422607e+00  1.933600e+00      1.0

                                  25%          50%           75%          max
 encounter_id              84961194.0  152388987.0  2.302709e+08  443867222.0
 patient_nbr               23413221.0   45505143.0  8.754595e+07  189502619.0
 admission_type_id                1.0          1.0  3.000000e+00          8.0
 discharge_disposition_id         1.0          1.0  4.000000e+00         28.0
 admission_source_id              1.0          7.0  7.000000e+00         25.0
 time_in_hospital                 2.0          4.0  6.000000e+00         14.0
 num_lab_procedures              31.0         44.0  5.700000e+01        132.0
 num_procedures                   0.0          1.0  2.000000e+00          6.0
 num_medications                 10.0         15.0  2.000000e+01         81.0
 number_outpatient                0.0          0.0  0.000000e+00         42.0
 number_emergency                 0.0          0.0  0.000000e+00         76.0
 number_inpatient                 0.0          0.0  1.000000e+00         21.0
 number_diagnoses                 6.0          8.0  9.000000e+00         16.0  }

In the weight column, there are missing values represented by a '?' symbol. However, these symbols are not recognized as missing values by default. To accurately capture the missing data, we need to replace these '?' symbols with 'NaN' (Not a Number), which is a standard representation for missing values in the dataframe. This step ensures that we have a more precise understanding of the extent of missing data within the dataset."

In [36]:
#there are missing values like in the weight column but they are represented with a '?' so I am replacing with NAN
df.replace('?', np.nan, inplace=True)

In [37]:
inspect_df(df)

{'Dimensions': 'This data set has 101766 rows and 50 columns',
 'Duplicates': 'The data has 0 duplicated entries and 101766 non duplicated entries',
 'Missing values (%)': '3.790047756618124 % of the data has missing values',
 'Summary statistics':                              count          mean           std      min  \
 encounter_id              101766.0  1.652016e+08  1.026403e+08  12522.0
 patient_nbr               101766.0  5.433040e+07  3.869636e+07    135.0
 admission_type_id         101766.0  2.024006e+00  1.445403e+00      1.0
 discharge_disposition_id  101766.0  3.715642e+00  5.280166e+00      1.0
 admission_source_id       101766.0  5.754437e+00  4.064081e+00      1.0
 time_in_hospital          101766.0  4.395987e+00  2.985108e+00      1.0
 num_lab_procedures        101766.0  4.309564e+01  1.967436e+01      1.0
 num_procedures            101766.0  1.339730e+00  1.705807e+00      0.0
 num_medications           101766.0  1.602184e+01  8.127566e+00      1.0
 number_outpatient         101766.0  3.693572e-01  1.267265e+00      0.0
 number_emergency          101766.0  1.978362e-01  9.304723e-01      0.0
 number_inpatient          101766.0  6.355659e-01  1.262863e+00      0.0
 number_diagnoses          101766.0  7.422607e+00  1.933600e+00      1.0

                                  25%          50%           75%          max
 encounter_id              84961194.0  152388987.0  2.302709e+08  443867222.0
 patient_nbr               23413221.0   45505143.0  8.754595e+07  189502619.0
 admission_type_id                1.0          1.0  3.000000e+00          8.0
 discharge_disposition_id         1.0          1.0  4.000000e+00         28.0
 admission_source_id              1.0          7.0  7.000000e+00         25.0
 time_in_hospital                 2.0          4.0  6.000000e+00         14.0
 num_lab_procedures              31.0         44.0  5.700000e+01        132.0
 num_procedures                   0.0          1.0  2.000000e+00          6.0
 num_medications                 10.0         15.0  2.000000e+01         81.0
 number_outpatient                0.0          0.0  0.000000e+00         42.0
 number_emergency                 0.0          0.0  0.000000e+00         76.0
 number_inpatient                 0.0          0.0  1.000000e+00         21.0
 number_diagnoses                 6.0          8.0  9.000000e+00         16.0  }

In [38]:
# Inspecting each column
for col in df.columns:
    print(col)
    print(inspect_col(df, col))
    print("="*70)

encounter_id
{'Top 5 value counts': 96210942     1
89943846     1
384306986    1
94650156     1
83156784     1
Name: encounter_id, dtype: int64, 'Number of unique values': 101766, 'data type': dtype('int64'), 'Missing Values': 'encounter_id has 0.00 % missing values.'}
======================================================================
patient_nbr
{'Top 5 value counts': 88785891    40
43140906    28
23199021    23
1660293     23
88227540    23
Name: patient_nbr, dtype: int64, 'Number of unique values': 71518, 'data type': dtype('int64'), 'Missing Values': 'patient_nbr has 0.00 % missing values.'}
======================================================================
race
{'Top 5 value counts': Caucasian          76099
AfricanAmerican    19210
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64, 'Number of unique values': 5, 'data type': dtype('O'), 'Missing Values': 'race has 2.23 % missing values.'}
======================================================================
gender
{'Top 5 value counts': Female             54708
Male               47055
Unknown/Invalid        3
Name: gender, dtype: int64, 'Number of unique values': 3, 'data type': dtype('O'), 'Missing Values': 'gender has 0.00 % missing values.'}
======================================================================
age
{'Top 5 value counts': [70-80)    26068
[60-70)    22483
[50-60)    17256
[80-90)    17197
[40-50)     9685
Name: age, dtype: int64, 'Number of unique values': 10, 'data type': dtype('O'), 'Missing Values': 'age has 0.00 % missing values.'}
======================================================================
weight
{'Top 5 value counts': [75-100)     1336
[50-75)       897
[100-125)     625
[125-150)     145
[25-50)        97
Name: weight, dtype: int64, 'Number of unique values': 9, 'data type': dtype('O'), 'Missing Values': 'weight has 96.86 % missing values.'}
======================================================================
admission_type_id
{'Top 5 value counts': 1    53990
3    18869
2    18480
6     5291
5     4785
Name: admission_type_id, dtype: int64, 'Number of unique values': 8, 'data type': dtype('int64'), 'Missing Values': 'admission_type_id has 0.00 % missing values.'}
======================================================================
discharge_disposition_id
{'Top 5 value counts': 1     60234
3     13954
6     12902
18     3691
2      2128
Name: discharge_disposition_id, dtype: int64, 'Number of unique values': 26, 'data type': dtype('int64'), 'Missing Values': 'discharge_disposition_id has 0.00 % missing values.'}
======================================================================
admission_source_id
{'Top 5 value counts': 7     57494
1     29565
17     6781
4      3187
6      2264
Name: admission_source_id, dtype: int64, 'Number of unique values': 17, 'data type': dtype('int64'), 'Missing Values': 'admission_source_id has 0.00 % missing values.'}
======================================================================
time_in_hospital
{'Top 5 value counts': 3    17756
2    17224
1    14208
4    13924
5     9966
Name: time_in_hospital, dtype: int64, 'Number of unique values': 14, 'data type': dtype('int64'), 'Missing Values': 'time_in_hospital has 0.00 % missing values.'}
======================================================================
payer_code
{'Top 5 value counts': MC    32439
HM     6274
SP     5007
BC     4655
MD     3532
Name: payer_code, dtype: int64, 'Number of unique values': 17, 'data type': dtype('O'), 'Missing Values': 'payer_code has 39.56 % missing values.'}
======================================================================
medical_specialty
{'Top 5 value counts': InternalMedicine          14635
Emergency/Trauma           7565
Family/GeneralPractice     7440
Cardiology                 5352
Surgery-General            3099
Name: medical_specialty, dtype: int64, 'Number of unique values': 72, 'data type': dtype('O'), 'Missing Values': 'medical_specialty has 49.08 % missing values.'}
======================================================================
num_lab_procedures
{'Top 5 value counts': 1     3208
43    2804
44    2496
45    2376
38    2213
Name: num_lab_procedures, dtype: int64, 'Number of unique values': 118, 'data type': dtype('int64'), 'Missing Values': 'num_lab_procedures has 0.00 % missing values.'}
======================================================================
num_procedures
{'Top 5 value counts': 0    46652
1    20742
2    12717
3     9443
6     4954
Name: num_procedures, dtype: int64, 'Number of unique values': 7, 'data type': dtype('int64'), 'Missing Values': 'num_procedures has 0.00 % missing values.'}
======================================================================
num_medications
{'Top 5 value counts': 13    6086
12    6004
11    5795
15    5792
14    5707
Name: num_medications, dtype: int64, 'Number of unique values': 75, 'data type': dtype('int64'), 'Missing Values': 'num_medications has 0.00 % missing values.'}
======================================================================
number_outpatient
{'Top 5 value counts': 0    85027
1     8547
2     3594
3     2042
4     1099
Name: number_outpatient, dtype: int64, 'Number of unique values': 39, 'data type': dtype('int64'), 'Missing Values': 'number_outpatient has 0.00 % missing values.'}
======================================================================
number_emergency
{'Top 5 value counts': 0    90383
1     7677
2     2042
3      725
4      374
Name: number_emergency, dtype: int64, 'Number of unique values': 33, 'data type': dtype('int64'), 'Missing Values': 'number_emergency has 0.00 % missing values.'}
======================================================================
number_inpatient
{'Top 5 value counts': 0    67630
1    19521
2     7566
3     3411
4     1622
Name: number_inpatient, dtype: int64, 'Number of unique values': 21, 'data type': dtype('int64'), 'Missing Values': 'number_inpatient has 0.00 % missing values.'}
======================================================================
diag_1
{'Top 5 value counts': 428    6862
414    6581
786    4016
410    3614
486    3508
Name: diag_1, dtype: int64, 'Number of unique values': 716, 'data type': dtype('O'), 'Missing Values': 'diag_1 has 0.02 % missing values.'}
======================================================================
diag_2
{'Top 5 value counts': 276    6752
428    6662
250    6071
427    5036
401    3736
Name: diag_2, dtype: int64, 'Number of unique values': 748, 'data type': dtype('O'), 'Missing Values': 'diag_2 has 0.35 % missing values.'}
======================================================================
diag_3
{'Top 5 value counts': 250    11555
401     8289
276     5175
428     4577
427     3955
Name: diag_3, dtype: int64, 'Number of unique values': 789, 'data type': dtype('O'), 'Missing Values': 'diag_3 has 1.40 % missing values.'}
======================================================================
number_diagnoses
{'Top 5 value counts': 9    49474
5    11393
8    10616
7    10393
6    10161
Name: number_diagnoses, dtype: int64, 'Number of unique values': 16, 'data type': dtype('int64'), 'Missing Values': 'number_diagnoses has 0.00 % missing values.'}
======================================================================
max_glu_serum
{'Top 5 value counts': None    96420
Norm     2597
>200     1485
>300     1264
Name: max_glu_serum, dtype: int64, 'Number of unique values': 4, 'data type': dtype('O'), 'Missing Values': 'max_glu_serum has 0.00 % missing values.'}
======================================================================
A1Cresult
{'Top 5 value counts': None    84748
>8       8216
Norm     4990
>7       3812
Name: A1Cresult, dtype: int64, 'Number of unique values': 4, 'data type': dtype('O'), 'Missing Values': 'A1Cresult has 0.00 % missing values.'}
======================================================================
metformin
{'Top 5 value counts': No        81778
Steady    18346
Up         1067
Down        575
Name: metformin, dtype: int64, 'Number of unique values': 4, 'data type': dtype('O'), 'Missing Values': 'metformin has 0.00 % missing values.'}
======================================================================
repaglinide
{'Top 5 value counts': No        100227
Steady      1384
Up           110
Down          45
Name: repaglinide, dtype: int64, 'Number of unique values': 4, 'data type': dtype('O'), 'Missing Values': 'repaglinide has 0.00 % missing values.'}
======================================================================
nateglinide
{'Top 5 value counts': No        101063
Steady       668
Up            24
Down          11
Name: nateglinide, dtype: int64, 'Number of unique values': 4, 'data type': dtype('O'), 'Missing Values': 'nateglinide has 0.00 % missing values.'}
======================================================================
chlorpropamide

{'Top 5 value counts': No        101680
Steady        79
Up             6
Down           1
Name: chlorpropamide, dtype: int64, 'Number of unique values': 4, 'data type': dtype('O'), 'Missing Values': 'chlorpropamide has 0.00 % missing values.'}
======================================================================
glimepiride
{'Top 5 value counts': No        96575
Steady     4670
Up          327
Down        194
Name: glimepiride, dtype: int64, 'Number of unique values': 4, 'data type': dtype('O'), 'Missing Values': 'glimepiride has 0.00 % missing values.'}
======================================================================
acetohexamide
{'Top 5 value counts': No        101765
Steady         1
Name: acetohexamide, dtype: int64, 'Number of unique values': 2, 'data type': dtype('O'), 'Missing Values': 'acetohexamide has 0.00 % missing values.'}
======================================================================
glipizide
{'Top 5 value counts': No        89080
Steady    11356
Up          770
Down        560
Name: glipizide, dtype: int64, 'Number of unique values': 4, 'data type': dtype('O'), 'Missing Values': 'glipizide has 0.00 % missing values.'}
======================================================================
glyburide
{'Top 5 value counts': No        91116
Steady     9274
Up          812
Down        564
Name: glyburide, dtype: int64, 'Number of unique values': 4, 'data type': dtype('O'), 'Missing Values': 'glyburide has 0.00 % missing values.'}
======================================================================
tolbutamide
{'Top 5 value counts': No        101743
Steady        23
Name: tolbutamide, dtype: int64, 'Number of unique values': 2, 'data type': dtype('O'), 'Missing Values': 'tolbutamide has 0.00 % missing values.'}
======================================================================
pioglitazone
{'Top 5 value counts': No        94438
Steady     6976
Up          234
Down        118
Name: pioglitazone, dtype: int64, 'Number of unique values': 4, 'data type': dtype('O'), 'Missing Values': 'pioglitazone has 0.00 % missing values.'}
======================================================================
rosiglitazone
{'Top 5 value counts': No        95401
Steady     6100
Up          178
Down         87
Name: rosiglitazone, dtype: int64, 'Number of unique values': 4, 'data type': dtype('O'), 'Missing Values': 'rosiglitazone has 0.00 % missing values.'}
======================================================================
acarbose
{'Top 5 value counts': No        101458
Steady       295
Up            10
Down           3
Name: acarbose, dtype: int64, 'Number of unique values': 4, 'data type': dtype('O'), 'Missing Values': 'acarbose has 0.00 % missing values.'}
======================================================================
miglitol
{'Top 5 value counts': No        101728
Steady        31
Down           5
Up             2
Name: miglitol, dtype: int64, 'Number of unique values': 4, 'data type': dtype('O'), 'Missing Values': 'miglitol has 0.00 % missing values.'}
======================================================================
troglitazone
{'Top 5 value counts': No        101763
Steady         3
Name: troglitazone, dtype: int64, 'Number of unique values': 2, 'data type': dtype('O'), 'Missing Values': 'troglitazone has 0.00 % missing values.'}
======================================================================
tolazamide
{'Top 5 value counts': No        101727
Steady        38
Up             1
Name: tolazamide, dtype: int64, 'Number of unique values': 3, 'data type': dtype('O'), 'Missing Values': 'tolazamide has 0.00 % missing values.'}
======================================================================
examide
{'Top 5 value counts': No    101766
Name: examide, dtype: int64, 'Number of unique values': 1, 'data type': dtype('O'), 'Missing Values': 'examide has 0.00 % missing values.'}
======================================================================
citoglipton
{'Top 5 value counts': No    101766
Name: citoglipton, dtype: int64, 'Number of unique values': 1, 'data type': dtype('O'), 'Missing Values': 'citoglipton has 0.00 % missing values.'}
======================================================================
insulin
{'Top 5 value counts': No        47383
Steady    30849
Down      12218
Up        11316
Name: insulin, dtype: int64, 'Number of unique values': 4, 'data type': dtype('O'), 'Missing Values': 'insulin has 0.00 % missing values.'}
======================================================================
glyburide-metformin
{'Top 5 value counts': No        101060
Steady       692
Up             8
Down           6
Name: glyburide-metformin, dtype: int64, 'Number of unique values': 4, 'data type': dtype('O'), 'Missing Values': 'glyburide-metformin has 0.00 % missing values.'}
======================================================================
glipizide-metformin
{'Top 5 value counts': No        101753
Steady        13
Name: glipizide-metformin, dtype: int64, 'Number of unique values': 2, 'data type': dtype('O'), 'Missing Values': 'glipizide-metformin has 0.00 % missing values.'}
======================================================================
glimepiride-pioglitazone
{'Top 5 value counts': No        101765
Steady         1
Name: glimepiride-pioglitazone, dtype: int64, 'Number of unique values': 2, 'data type': dtype('O'), 'Missing Values': 'glimepiride-pioglitazone has 0.00 % missing values.'}
======================================================================
metformin-rosiglitazone
{'Top 5 value counts': No        101764
Steady         2
Name: metformin-rosiglitazone, dtype: int64, 'Number of unique values': 2, 'data type': dtype('O'), 'Missing Values': 'metformin-rosiglitazone has 0.00 % missing values.'}
======================================================================
metformin-pioglitazone
{'Top 5 value counts': No        101765
Steady         1
Name: metformin-pioglitazone, dtype: int64, 'Number of unique values': 2, 'data type': dtype('O'), 'Missing Values': 'metformin-pioglitazone has 0.00 % missing values.'}
======================================================================
change
{'Top 5 value counts': No    54755
Ch    47011
Name: change, dtype: int64, 'Number of unique values': 2, 'data type': dtype('O'), 'Missing Values': 'change has 0.00 % missing values.'}
======================================================================
diabetesMed
{'Top 5 value counts': Yes    78363
No     23403
Name: diabetesMed, dtype: int64, 'Number of unique values': 2, 'data type': dtype('O'), 'Missing Values': 'diabetesMed has 0.00 % missing values.'}
======================================================================
readmitted
{'Top 5 value counts': NO     54864
>30    35545
<30    11357
Name: readmitted, dtype: int64, 'Number of unique values': 3, 'data type': dtype('O'), 'Missing Values': 'readmitted has 0.00 % missing values.'}
======================================================================

## Observations
There are 101,766 unique records with 71518 unique patients - This shows that it is possible that at least one or more patients has had at least 2 or more encounters that has forced them to be hospitalized.

Missing values form 3.79 % of this data and there are no duplicates in the data.

There are columns that have been given wrong types. For instance, columns like encounter_id and patient_nbr are taken as integers yet they are primary identifiers of the encounter and the patient in question respectively.

gender has a category known as 'Unknown/Invalid' which hints at missing values.

weight has over 96% of the column missing.

admission_type_id, discharge_disposition_id and admission_source_id are not really IDs in the conventional sense but are more like categorical variables which are nominal in nature- these features will be type casted to category.

payer_code has about 40% missing values and medical_specialty has about 50% missing values.

Other columns that is race, diag_1, diag_2 and diag_3 each have a small number of missing values with none of them having more than 3 % missing - these can easily have their rows dropped. It is worth pointing out that these columns are supposed to be categorical columns because they take on a limited number of categories without any inherent order. The study referred to these files for better understanding: 'https://github.com/WendyMwiti/Diabetes_Readmissions/blob/7a78a50202d6044b16bc601093845088f86266be/data/references'

Columns 24 to column 46 are drug names. They are to be casted to category as they contain few categorical values that are repetitive.

Features of type object that are supposed to be object will be type casted to category.

The target column in this task is readmitted which tells us whether a patient was readmitted within 30 days, greater than 30 days or not readmitted at all.

The rows with consideration of the column discharge_disposition_id that hint towards the fact that the patient was taken to hospice or death will be removed as they do not help the model - they cannot be readmitted. They are denoted by values 11,13,14,19,20 and 21.

## Data Preparation

### Completeness
Completeness refers to whether all the required data is present. Missing data can lead to inaccurate or biased results. Completeness check involves:
Identifying missing values in all the columns
Deciding on how to handle them for example removal, imputation and so forth.

Several columns within the dataset contain missing values. Specifically, the following columns have missing data: race (2.23%), weight (96.86%), payer_code (39.56%), medical_specialty (49.08%), diag_1 (0.02%), diag_2 (0.35%), and diag_3 (1.40%).

The following operations shall be perfomed on the dataset:

** Removing Columns with Significant Missing Values

'weight' and 'payer_code' columns have been identified to have a significant number of missing values and shall therefore be dropped from the dataset.

** Dropping Rows

'race', 'diag_1', 'diag_2', and 'diag_3' are not only critical columns for this analysis but also have a very low percentage of missing values. Therefore, rows with missing values in any of these columns shall be dropped from the dataset

** Filling Missing Values

Although the "medical_specialty" feature exhibited a substantial 49% of missing values, it was retained in the dataset. Rather than discarding it, the missing entries were substituted with the term "missing." This decision was made due to the recognition of its significance in influencing the study's outcomes.

In [39]:
def preprocess_data(df):
    # Drop specified columns
    columns_to_drop = ['weight', 'payer_code']
    df.drop(columns=columns_to_drop, axis=1, inplace=True)

    # Drop rows with missing values in specified columns
    columns_to_check = ['race', 'diag_1', 'diag_2', 'diag_3']
    df.dropna(subset=columns_to_check, inplace=True)

    # Fill missing values in 'medical_specialty' column
    df['medical_specialty'] = df['medical_specialty'].fillna('missing')

    return df

In [40]:
df = preprocess_data(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98053 entries, 1 to 101765
Data columns (total 48 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              98053 non-null  int64
 1   patient_nbr               98053 non-null  int64
 2   race                      98053 non-null  object
 3   gender                    98053 non-null  object
 4   age                       98053 non-null  object
 5   admission_type_id         98053 non-null  int64
 6   discharge_disposition_id  98053 non-null  int64
 7   admission_source_id       98053 non-null  int64
 8   time_in_hospital          98053 non-null  int64
 9   medical_specialty         98053 non-null  object
 10  num_lab_procedures        98053 non-null  int64
 11  num_procedures            98053 non-null  int64
 12  num_medications           98053 non-null  int64
 13  number_outpatient         98053 non-null  int64
 14  number_emergency          98053 non-null  int64
 15  number_inpatient          98053 non-null  int64
 16  diag_1                    98053 non-null  object
 17  diag_2                    98053 non-null  object
 18  diag_3                    98053 non-null  object
 19  number_diagnoses          98053 non-null  int64
 20  max_glu_serum             98053 non-null  object
 21  A1Cresult                 98053 non-null  object
 22  metformin                 98053 non-null  object
 23  repaglinide               98053 non-null  object
 24  nateglinide               98053 non-null  object
 25  chlorpropamide            98053 non-null  object
 26  glimepiride               98053 non-null  object
 27  acetohexamide             98053 non-null  object
 28  glipizide                 98053 non-null  object
 29  glyburide                 98053 non-null  object
 30  tolbutamide               98053 non-null  object
 31  pioglitazone              98053 non-null  object
 32  rosiglitazone             98053 non-null  object
 33  acarbose                  98053 non-null  object
 34  miglitol                  98053 non-null  object
 35  troglitazone              98053 non-null  object
 36  tolazamide                98053 non-null  object
 37  examide                   98053 non-null  object
 38  citoglipton               98053 non-null  object
 39  insulin                   98053 non-null  object
 40  glyburide-metformin       98053 non-null  object
 41  glipizide-metformin       98053 non-null  object
 42  glimepiride-pioglitazone  98053 non-null  object
 43  metformin-rosiglitazone   98053 non-null  object
 44  metformin-pioglitazone    98053 non-null  object
 45  change                    98053 non-null  object
 46  diabetesMed               98053 non-null  object
 47  readmitted                98053 non-null  object
dtypes: int64(13), object(35)
memory usage: 36.7+ MB

## Validity
Validity in data refers to the accuracy and correctness of the data in representing events that the data is meant to capture. In this case the aim is to ensure that data types are appropriate for the information they represent.

In [41]:
columns_to_cast = [
    'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
    'race', 'diag_1', 'diag_2', 'diag_3', 'metformin', 'repaglinide',
    'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide',
    'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone',
    'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
    'tolazamide', 'examide', 'citoglipton', 'insulin',
    'glyburide-metformin', 'glipizide-metformin',
    'glimepiride-pioglitazone', 'metformin-rosiglitazone',
    'metformin-pioglitazone', 'age', 'gender', 'medical_specialty',
    'max_glu_serum', 'A1Cresult', 'change', 'diabetesMed', 'readmitted'
]

In [42]:
for column in columns_to_cast:
    df[column] = df[column].astype('category')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98053 entries, 1 to 101765
Data columns (total 48 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              98053 non-null  int64
 1   patient_nbr               98053 non-null  int64
 2   race                      98053 non-null  category
 3   gender                    98053 non-null  category
 4   age                       98053 non-null  category
 5   admission_type_id         98053 non-null  category
 6   discharge_disposition_id  98053 non-null  category
 7   admission_source_id       98053 non-null  category
 8   time_in_hospital          98053 non-null  int64
 9   medical_specialty         98053 non-null  category
 10  num_lab_procedures        98053 non-null  int64
 11  num_procedures            98053 non-null  int64
 12  num_medications           98053 non-null  int64
 13  number_outpatient         98053 non-null  int64
 14  number_emergency          98053 non-null  int64
 15  number_inpatient          98053 non-null  int64
 16  diag_1                    98053 non-null  category
 17  diag_2                    98053 non-null  category
 18  diag_3                    98053 non-null  category
 19  number_diagnoses          98053 non-null  int64
 20  max_glu_serum             98053 non-null  category
 21  A1Cresult                 98053 non-null  category
 22  metformin                 98053 non-null  category
 23  repaglinide               98053 non-null  category
 24  nateglinide               98053 non-null  category
 25  chlorpropamide            98053 non-null  category
 26  glimepiride               98053 non-null  category
 27  acetohexamide             98053 non-null  category
 28  glipizide                 98053 non-null  category
 29  glyburide                 98053 non-null  category
 30  tolbutamide               98053 non-null  category
 31  pioglitazone              98053 non-null  category
 32  rosiglitazone             98053 non-null  category
 33  acarbose                  98053 non-null  category
 34  miglitol                  98053 non-null  category
 35  troglitazone              98053 non-null  category
 36  tolazamide                98053 non-null  category
 37  examide                   98053 non-null  category
 38  citoglipton               98053 non-null  category
 39  insulin                   98053 non-null  category
 40  glyburide-metformin       98053 non-null  category
 41  glipizide-metformin       98053 non-null  category
 42  glimepiride-pioglitazone  98053 non-null  category
 43  metformin-rosiglitazone   98053 non-null  category
 44  metformin-pioglitazone    98053 non-null  category
 45  change                    98053 non-null  category
 46  diabetesMed               98053 non-null  category
 47  readmitted                98053 non-null  category
dtypes: category(38), int64(10)
memory usage: 12.1 MB