## Readmission causes of patient's with Diabetes
Unplanned hospital readmissions impose a substantial financial burden of approximately $15-20 billion annually on healthcare providers in the United States. By mitigating readmission rates among patients with diabetes, there is a twofold potential: improvement of healthcare systems and enhancing the overall well-being of patients. Precise management of blood sugar levels in individuals with diabetes yields a noteworthy decrease in both mortality and morbidity rates.

This analysis aims to scrutinize historical trends in diabetes care for patients hospitalized in the US, subsequently guiding the formulation of medical protocols for superior patient care. Within this investigation, particular emphasis is placed on the significance of the HbA1c marker in managing diabetes mellitus patients. The hypothesis asserts that the measurement of HbA1c is intrinsically linked to  reduction in readmission rates for individuals undergoing hospitalization.

## Problem Statement
Hospital readmissions are detrimental to patients with diabetes healthwise, financially and timewise. It is important to understand the variables that contribute to these readmissions to enable improve quality of care of the patients

## Objectives
1. To identify the most common primary diagnosis by age group
2. To identify the effect of a diabetes diagnosis on readmission rates
3. To identify groups of patients with high probability of readmission
4. To predict the significance of HbA1c marker in readmission rates

## Data Description
> In this phase, we describe the meanings of each column

The data descriptions can be found [here]("https://archive.ics.uci.edu/dataset/296/diabetes+130-us+hospitals+for+years+1999-2008")

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LogisticRegression

In [2]:
#loading data
df = pd.read_csv('data/diabetic_data.csv')

# preview
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [3]:
# preview tail for consistency
df.tail()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
101761,443847548,100162476,AfricanAmerican,Male,[70-80),?,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),?,1,4,5,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),?,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),?,2,3,7,10,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO

In [4]:
# display all columns
pd.set_option('display.max_columns', None)

In [5]:
# preview first 5 rows
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,?,Pediatrics-Endocrinology,41,0,1,0,0,0,250.83,?,?,1,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,?,?,59,0,18,0,0,0,276,250.01,255,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,11,5,13,2,0,1,648,250,V27,6,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,?,?,44,1,16,0,0,0,8,250.43,403,7,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,?,?,51,0,8,0,0,0,197,157,250,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [6]:
# preview last 5 rows
df.tail()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
101761,443847548,100162476,AfricanAmerican,Male,[70-80),?,1,3,7,3,MC,?,51,0,16,0,0,0,250.13,291,458,9,None,>8,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),?,1,4,5,5,MC,?,33,3,18,0,0,1,560,276,787,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),?,1,1,7,1,MC,?,53,0,9,1,0,0,38,590,296,13,None,None,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),?,2,3,7,10,MC,Surgery-General,45,2,21,0,0,1,996,285,998,9,None,None,No,No,No,No,No,No,Steady,No,No,Steady,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,?,?,13,3,3,0,0,0,530,530,787,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO

In [7]:
# Meta Data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [49]:
# there are missing values like in the weight column but they are represented with a '?' so I am replacing with NAN
df.replace('?', np.nan, inplace=True)

In [50]:
print(f"This dataset has {data_understand.shape[0]} rows and {df.shape[1]} columns")

This dataset has 101766 rows and 50 columns

In [51]:
df.info

<bound method DataFrame.info of         encounter_id  patient_nbr             race  gender      age weight  \
0            2278392      8222157        Caucasian  Female   [0-10)    NaN
1             149190     55629189        Caucasian  Female  [10-20)    NaN
2              64410     86047875  AfricanAmerican  Female  [20-30)    NaN
3             500364     82442376        Caucasian    Male  [30-40)    NaN
4              16680     42519267        Caucasian    Male  [40-50)    NaN
...              ...          ...              ...     ...      ...    ...
101761     443847548    100162476  AfricanAmerican    Male  [70-80)    NaN
101762     443847782     74694222  AfricanAmerican  Female  [80-90)    NaN
101763     443854148     41088789        Caucasian    Male  [70-80)    NaN
101764     443857166     31693671        Caucasian  Female  [80-90)    NaN
101765     443867222    175429310        Caucasian    Male  [70-80)    NaN

        admission_type_id  discharge_disposition_id  admission_source_id  \
0                       6                        25                    1
1                       1                         1                    7
2                       1                         1                    7
3                       1                         1                    7
4                       1                         1                    7
...                   ...                       ...                  ...
101761                  1                         3                    7
101762                  1                         4                    5
101763                  1                         1                    7
101764                  2                         3                    7
101765                  1                         1                    7

        time_in_hospital payer_code         medical_specialty  \
0                      1        NaN  Pediatrics-Endocrinology
1                      3        NaN                       NaN
2                      2        NaN                       NaN
3                      2        NaN                       NaN
4                      1        NaN                       NaN
...                  ...        ...                       ...
101761                 3         MC                       NaN
101762                 5         MC                       NaN
101763                 1         MC                       NaN
101764                10         MC           Surgery-General
101765                 6        NaN                       NaN

        num_lab_procedures  num_procedures  num_medications  \
0                       41               0                1
1                       59               0               18
2                       11               5               13
3                       44               1               16
4                       51               0                8
...                    ...             ...              ...
101761                  51               0               16
101762                  33               3               18
101763                  53               0                9
101764                  45               2               21
101765                  13               3                3

        number_outpatient  number_emergency  number_inpatient  diag_1  diag_2  \
0                       0                 0                 0  250.83     NaN
1                       0                 0                 0     276  250.01
2                       2                 0                 1     648     250
3                       0                 0                 0       8  250.43
4                       0                 0                 0     197     157
...                   ...               ...               ...     ...     ...
101761                  0                 0                 0  250.13     291
101762                  0                 0                 1     560     276
101763                  1                 0                 0      38     590
101764                  0                 0                 1     996     285
101765                  0                 0                 0     530     530

       diag_3  number_diagnoses max_glu_serum A1Cresult metformin repaglinide  \
0         NaN                 1          None      None        No          No
1         255                 9          None      None        No          No
2         V27                 6          None      None        No          No
3         403                 7          None      None        No          No
4         250                 5          None      None        No          No
...       ...               ...           ...       ...       ...         ...
101761    458                 9          None        >8    Steady          No
101762    787                 9          None      None        No          No
101763    296                13          None      None    Steady          No
101764    998                 9          None      None        No          No
101765    787                 9          None      None        No          No

       nateglinide chlorpropamide glimepiride acetohexamide glipizide  \
0               No             No          No            No        No
1               No             No          No            No        No
2               No             No          No            No    Steady
3               No             No          No            No        No
4               No             No          No            No    Steady
...            ...            ...         ...           ...       ...
101761          No             No          No            No        No
101762          No             No          No            No        No
101763          No             No          No            No        No
101764          No             No          No            No    Steady
101765          No             No          No            No        No

       glyburide tolbutamide pioglitazone rosiglitazone acarbose miglitol  \
0             No          No           No            No       No       No
1             No          No           No            No       No       No
2             No          No           No            No       No       No
3             No          No           No            No       No       No
4             No          No           No            No       No       No
...          ...         ...          ...           ...      ...      ...
101761        No          No           No            No       No       No
101762        No          No           No            No       No       No
101763        No          No           No            No       No       No
101764        No          No       Steady            No       No       No
101765        No          No           No            No       No       No

       troglitazone tolazamide examide citoglipton insulin  \
0                No         No      No          No      No
1                No         No      No          No      Up
2                No         No      No          No      No
3                No         No      No          No      Up
4                No         No      No          No  Steady
...             ...        ...     ...         ...     ...
101761           No         No      No          No    Down
101762           No         No      No          No  Steady
101763           No         No      No          No    Down
101764           No         No      No          No      Up
101765           No         No      No          No      No

       glyburide-metformin glipizide-metformin glimepiride-pioglitazone  \
0                       No                  No                       No
1                       No                  No                       No
2                       No                  No                       No
3                       No                  No                       No
4                       No                  No                       No
...                    ...                 ...                      ...
101761                  No                  No                       No
101762                  No                  No                       No
101763                  No                  No                       No
101764                  No                  No                       No
101765                  No                  No                       No

       metformin-rosiglitazone metformin-pioglitazone change diabetesMed  \
0                           No                     No     No          No
1                           No                     No     Ch         Yes
2                           No                     No     No         Yes
3                           No                     No     Ch         Yes
4                           No                     No     Ch         Yes
...                        ...                    ...    ...         ...
101761                      No                     No     Ch         Yes
101762                      No                     No     No         Yes
101763                      No                     No     Ch         Yes
101764                      No                     No     Ch         Yes
101765                      No                     No     No          No

       readmitted
0              NO
1             >30
2              NO
3              NO
4              NO
...           ...
101761        >30
101762         NO
101763         NO
101764         NO
101765         NO

[101766 rows x 50 columns]>

In [41]:
df.duplicated().sum()

0

In [54]:
pd.set_option('display.max_rows', None)

In [59]:
#missing values in percentages
df.isna().sum() / len(df) * 100

encounter_id                 0.000000
patient_nbr                  0.000000
race                         2.233555
gender                       0.000000
age                          0.000000
weight                      96.858479
admission_type_id            0.000000
discharge_disposition_id     0.000000
admission_source_id          0.000000
time_in_hospital             0.000000
payer_code                  39.557416
medical_specialty           49.082208
num_lab_procedures           0.000000
num_procedures               0.000000
num_medications              0.000000
number_outpatient            0.000000
number_emergency             0.000000
number_inpatient             0.000000
diag_1                       0.020636
diag_2                       0.351787
diag_3                       1.398306
number_diagnoses             0.000000
max_glu_serum                0.000000
A1Cresult                    0.000000
metformin                    0.000000
repaglinide                  0.000000
nateglinide                  0.000000
chlorpropamide               0.000000
glimepiride                  0.000000
acetohexamide                0.000000
glipizide                    0.000000
glyburide                    0.000000
tolbutamide                  0.000000
pioglitazone                 0.000000
rosiglitazone                0.000000
acarbose                     0.000000
miglitol                     0.000000
troglitazone                 0.000000
tolazamide                   0.000000
examide                      0.000000
citoglipton                  0.000000
insulin                      0.000000
glyburide-metformin          0.000000
glipizide-metformin          0.000000
glimepiride-pioglitazone     0.000000
metformin-rosiglitazone      0.000000
metformin-pioglitazone       0.000000
change                       0.000000
diabetesMed                  0.000000
readmitted                   0.000000
dtype: float64

There were a few columns with missing values including: race(2%), weight(97%), payer_code(40%), medical_specialty(49%), diag_1(0.02%), diag_2(0.4%) and diag_3(1.4%)

The percentange of missing values in the weight column is too high to be considered in further analysis, so the next step is to drop it

payer_code is not relevant to the goal of this project and also has a significant percentage of missing values and will therefore be dropped

As for the medical_specialty column, the missing values will be imputed with the word 'missing'

Due to the low number of missing values in the race, diag_1, diag_2, diag_3 columns, the missing values shall be dropped

In [44]:
df.dtypes

encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
weight                      object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
payer_code                  object
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
readmitted                  object
dtype: object

In [45]:
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000