## Readmission causes of patient's with Diabetes
Unplanned hospital readmissions impose a substantial financial burden of approximately $15-20 billion annually on healthcare providers in the United States. By mitigating readmission rates among patients with diabetes, there is a twofold potential: improvement of healthcare systems and enhancing the overall well-being of patients. Precise management of blood sugar levels in individuals with diabetes yields a noteworthy decrease in both mortality and morbidity rates.

This analysis aims to scrutinize historical trends in diabetes care for patients hospitalized in the US, subsequently guiding the formulation of medical protocols for superior patient care. Within this investigation, particular emphasis is placed on the significance of the HbA1c marker in managing diabetes mellitus patients. The hypothesis asserts that the measurement of HbA1c is intrinsically linked to  reduction in readmission rates for individuals undergoing hospitalization.

## Problem Statement
Hospital readmissions are detrimental to patients with diabetes healthwise, financially and timewise. It is important to understand the variables that contribute to these readmissions to enable improve quality of care of the patients

## Objectives
1. To identify the most common primary diagnosis by age group
2. To identify the effect of a diabetes diagnosis on readmission rates
3. To identify groups of patients with high probability of readmission
4. To predict the significance of HbA1c marker in readmission rates

In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LogisticRegression

In [20]:
#loading data
df = pd.read_csv('C:/Users/Wendy/Documents/readmission_ds/Diabetes_Readmissions/diabetic_data.csv')

In [31]:
def inspect_df(df):
    """This prints out the summary from the inspection of the data"""

    return {"Dimensions": f"This data set has {df.shape[0]} rows and {df.shape[1]} columns",
            "Duplicates": f"The data has {df.duplicated().sum()} duplicated entries and {len(df) - df.duplicated().sum()} non duplicated entries",
            "Missing values (%)": f"{sum(df.isna().sum())/df.__len__() * 100} % of the data has missing values",
            "Summary statistics": df.describe().T,
            "Info (printed above)":df.info()}

total_rows = len(df)

def inspect_col(df, col):
       
  """Summary Inspection of the column in focus"""
  return {"Top 5 value counts": df[col].value_counts()[:5],
          "Number of unique values": df[col].nunique(),
          "Missing Values": f"{col} has {df[col].isna().sum()/total_rows * 100 :.2f} % missing values."}

In [32]:
inspect_df(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      99493 non-null   object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    3197 non-null    object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                61510 non-null   object
 11  medical_specialty         51817 non-null   object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101745 non-null  object
 19  diag_2                    101408 non-null  object
 20  diag_3                    100343 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

{'Dimensions': 'This data set has 101766 rows and 50 columns',
 'Duplicates': 'The data has 0 duplicated entries and 101766 non duplicated entries',
 'Missing values (%)': '189.5023878309062 % of the data has missing values',
 'Summary statistics':                              count          mean           std      min  \
 encounter_id              101766.0  1.652016e+08  1.026403e+08  12522.0
 patient_nbr               101766.0  5.433040e+07  3.869636e+07    135.0
 admission_type_id         101766.0  2.024006e+00  1.445403e+00      1.0
 discharge_disposition_id  101766.0  3.715642e+00  5.280166e+00      1.0
 admission_source_id       101766.0  5.754437e+00  4.064081e+00      1.0
 time_in_hospital          101766.0  4.395987e+00  2.985108e+00      1.0
 num_lab_procedures        101766.0  4.309564e+01  1.967436e+01      1.0
 num_procedures            101766.0  1.339730e+00  1.705807e+00      0.0
 num_medications           101766.0  1.602184e+01  8.127566e+00      1.0
 number_outpatient         101766.0  3.693572e-01  1.267265e+00      0.0
 number_emergency          101766.0  1.978362e-01  9.304723e-01      0.0
 number_inpatient          101766.0  6.355659e-01  1.262863e+00      0.0
 number_diagnoses          101766.0  7.422607e+00  1.933600e+00      1.0

                                  25%          50%           75%          max
 encounter_id              84961194.0  152388987.0  2.302709e+08  443867222.0
 patient_nbr               23413221.0   45505143.0  8.754595e+07  189502619.0
 admission_type_id                1.0          1.0  3.000000e+00          8.0
 discharge_disposition_id         1.0          1.0  4.000000e+00         28.0
 admission_source_id              1.0          7.0  7.000000e+00         25.0
 time_in_hospital                 2.0          4.0  6.000000e+00         14.0
 num_lab_procedures              31.0         44.0  5.700000e+01        132.0
 num_procedures                   0.0          1.0  2.000000e+00          6.0
 num_medications                 10.0         15.0  2.000000e+01         81.0
 number_outpatient                0.0          0.0  0.000000e+00         42.0
 number_emergency                 0.0          0.0  0.000000e+00         76.0
 number_inpatient                 0.0          0.0  1.000000e+00         21.0
 number_diagnoses                 6.0          8.0  9.000000e+00         16.0  ,
 'Info (printed above)': None}

In the weight column, there are missing values represented by a '?' symbol. However, these symbols are not recognized as missing values by default. To accurately capture the missing data, we need to replace these '?' symbols with 'NaN' (Not a Number), which is a standard representation for missing values in the dataframe. This step ensures that we have a more precise understanding of the extent of missing data within the dataset."

In [33]:
#there are missing values like in the weight column but they are represented with a '?' so I am replacing with NAN
df.replace('?', np.nan, inplace=True)

In [34]:
for cols in df.columns:
    print(inspect_col(df, cols))

{'Top 5 value counts': 96210942     1
89943846     1
384306986    1
94650156     1
83156784     1
Name: encounter_id, dtype: int64, 'Number of unique values': 101766, 'Missing Values': 'encounter_id has 0.00 % missing values.'}
{'Top 5 value counts': 88785891    40
43140906    28
23199021    23
1660293     23
88227540    23
Name: patient_nbr, dtype: int64, 'Number of unique values': 71518, 'Missing Values': 'patient_nbr has 0.00 % missing values.'}
{'Top 5 value counts': Caucasian          76099
AfricanAmerican    19210
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64, 'Number of unique values': 5, 'Missing Values': 'race has 2.23 % missing values.'}
{'Top 5 value counts': Female             54708
Male               47055
Unknown/Invalid        3
Name: gender, dtype: int64, 'Number of unique values': 3, 'Missing Values': 'gender has 0.00 % missing values.'}
{'Top 5 value counts': [70-80)    26068
[60-70)    22483
[50-60)    17256
[80-90)    17197
[40-50)     9685
Name: age, dtype: int64, 'Number of unique values': 10, 'Missing Values': 'age has 0.00 % missing values.'}
{'Top 5 value counts': [75-100)     1336
[50-75)       897
[100-125)     625
[125-150)     145
[25-50)        97
Name: weight, dtype: int64, 'Number of unique values': 9, 'Missing Values': 'weight has 96.86 % missing values.'}
{'Top 5 value counts': 1    53990
3    18869
2    18480
6     5291
5     4785
Name: admission_type_id, dtype: int64, 'Number of unique values': 8, 'Missing Values': 'admission_type_id has 0.00 % missing values.'}
{'Top 5 value counts': 1     60234
3     13954
6     12902
18     3691
2      2128
Name: discharge_disposition_id, dtype: int64, 'Number of unique values': 26, 'Missing Values': 'discharge_disposition_id has 0.00 % missing values.'}
{'Top 5 value counts': 7     57494
1     29565
17     6781
4      3187
6      2264
Name: admission_source_id, dtype: int64, 'Number of unique values': 17, 'Missing Values': 'admission_source_id has 0.00 % missing values.'}
{'Top 5 value counts': 3    17756
2    17224
1    14208
4    13924
5     9966
Name: time_in_hospital, dtype: int64, 'Number of unique values': 14, 'Missing Values': 'time_in_hospital has 0.00 % missing values.'}
{'Top 5 value counts': MC    32439
HM     6274
SP     5007
BC     4655
MD     3532
Name: payer_code, dtype: int64, 'Number of unique values': 17, 'Missing Values': 'payer_code has 39.56 % missing values.'}
{'Top 5 value counts': InternalMedicine          14635
Emergency/Trauma           7565
Family/GeneralPractice     7440
Cardiology                 5352
Surgery-General            3099
Name: medical_specialty, dtype: int64, 'Number of unique values': 72, 'Missing Values': 'medical_specialty has 49.08 % missing values.'}
{'Top 5 value counts': 1     3208
43    2804
44    2496
45    2376
38    2213
Name: num_lab_procedures, dtype: int64, 'Number of unique values': 118, 'Missing Values': 'num_lab_procedures has 0.00 % missing values.'}
{'Top 5 value counts': 0    46652
1    20742
2    12717
3     9443
6     4954
Name: num_procedures, dtype: int64, 'Number of unique values': 7, 'Missing Values': 'num_procedures has 0.00 % missing values.'}
{'Top 5 value counts': 13    6086
12    6004
11    5795
15    5792
14    5707
Name: num_medications, dtype: int64, 'Number of unique values': 75, 'Missing Values': 'num_medications has 0.00 % missing values.'}
{'Top 5 value counts': 0    85027
1     8547
2     3594
3     2042
4     1099
Name: number_outpatient, dtype: int64, 'Number of unique values': 39, 'Missing Values': 'number_outpatient has 0.00 % missing values.'}
{'Top 5 value counts': 0    90383
1     7677
2     2042
3      725
4      374
Name: number_emergency, dtype: int64, 'Number of unique values': 33, 'Missing Values': 'number_emergency has 0.00 % missing values.'}
{'Top 5 value counts': 0    67630
1    19521
2     7566
3     3411
4     1622
Name: number_inpatient, dtype: int64, 'Number of unique values': 21, 'Missing Values': 'number_inpatient has 0.00 % missing values.'}
{'Top 5 value counts': 428    6862
414    6581
786    4016
410    3614
486    3508
Name: diag_1, dtype: int64, 'Number of unique values': 716, 'Missing Values': 'diag_1 has 0.02 % missing values.'}
{'Top 5 value counts': 276    6752
428    6662
250    6071
427    5036
401    3736
Name: diag_2, dtype: int64, 'Number of unique values': 748, 'Missing Values': 'diag_2 has 0.35 % missing values.'}
{'Top 5 value counts': 250    11555
401     8289
276     5175
428     4577
427     3955
Name: diag_3, dtype: int64, 'Number of unique values': 789, 'Missing Values': 'diag_3 has 1.40 % missing values.'}
{'Top 5 value counts': 9    49474
5    11393
8    10616
7    10393
6    10161
Name: number_diagnoses, dtype: int64, 'Number of unique values': 16, 'Missing Values': 'number_diagnoses has 0.00 % missing values.'}
{'Top 5 value counts': None    96420
Norm     2597
>200     1485
>300     1264
Name: max_glu_serum, dtype: int64, 'Number of unique values': 4, 'Missing Values': 'max_glu_serum has 0.00 % missing values.'}
{'Top 5 value counts': None    84748
>8       8216
Norm     4990
>7       3812
Name: A1Cresult, dtype: int64, 'Number of unique values': 4, 'Missing Values': 'A1Cresult has 0.00 % missing values.'}
{'Top 5 value counts': No        81778
Steady    18346
Up         1067
Down        575
Name: metformin, dtype: int64, 'Number of unique values': 4, 'Missing Values': 'metformin has 0.00 % missing values.'}
{'Top 5 value counts': No        100227
Steady      1384
Up           110
Down          45
Name: repaglinide, dtype: int64, 'Number of unique values': 4, 'Missing Values': 'repaglinide has 0.00 % missing values.'}
{'Top 5 value counts': No        101063
Steady       668
Up            24
Down          11
Name: nateglinide, dtype: int64, 'Number of unique values': 4, 'Missing Values': 'nateglinide has 0.00 % missing values.'}
{'Top 5 value counts': No        101680
Steady        79
Up             6
Down           1
Name: chlorpropamide, dtype: int64, 'Number of unique values': 4, 'Missing Values': 'chlorpropamide has 0.00 % missing values.'}
{'Top 5 value counts': No        96575
Steady     4670
Up          327
Down        194
Name: glimepiride, dtype: int64, 'Number of unique values': 4, 'Missing Values': 'glimepiride has 0.00 % missing values.'}
{'Top 5 value counts': No        101765
Steady         1
Name: acetohexamide, dtype: int64, 'Number of unique values': 2, 'Missing Values': 'acetohexamide has 0.00 % missing values.'}
{'Top 5 value counts': No        89080
Steady    11356
Up          770
Down        560
Name: glipizide, dtype: int64, 'Number of unique values': 4, 'Missing Values': 'glipizide has 0.00 % missing values.'}
{'Top 5 value counts': No        91116
Steady     9274
Up          812
Down        564
Name: glyburide, dtype: int64, 'Number of unique values': 4, 'Missing Values': 'glyburide has 0.00 % missing values.'}
{'Top 5 value counts': No        101743
Steady        23
Name: tolbutamide, dtype: int64, 'Number of unique values': 2, 'Missing Values': 'tolbutamide has 0.00 % missing values.'}
{'Top 5 value counts': No        94438
Steady     6976
Up          234
Down        118
Name: pioglitazone, dtype: int64, 'Number of unique values': 4, 'Missing Values': 'pioglitazone has 0.00 % missing values.'}
{'Top 5 value counts': No        95401
Steady     6100
Up          178
Down         87
Name: rosiglitazone, dtype: int64, 'Number of unique values': 4, 'Missing Values': 'rosiglitazone has 0.00 % missing values.'}
{'Top 5 value counts': No        101458
Steady       295
Up            10
Down           3
Name: acarbose, dtype: int64, 'Number of unique values': 4, 'Missing Values': 'acarbose has 0.00 % missing values.'}
{'Top 5 value counts': No        101728
Steady        31
Down           5
Up             2
Name: miglitol, dtype: int64, 'Number of unique values': 4, 'Missing Values': 'miglitol has 0.00 % missing values.'}
{'Top 5 value counts': No        101763
Steady         3
Name: troglitazone, dtype: int64, 'Number of unique values': 2, 'Missing Values': 'troglitazone has 0.00 % missing values.'}
{'Top 5 value counts': No        101727
Steady        38
Up             1
Name: tolazamide, dtype: int64, 'Number of unique values': 3, 'Missing Values': 'tolazamide has 0.00 % missing values.'}
{'Top 5 value counts': No    101766
Name: examide, dtype: int64, 'Number of unique values': 1, 'Missing Values': 'examide has 0.00 % missing values.'}
{'Top 5 value counts': No    101766
Name: citoglipton, dtype: int64, 'Number of unique values': 1, 'Missing Values': 'citoglipton has 0.00 % missing values.'}
{'Top 5 value counts': No        47383
Steady    30849
Down      12218
Up        11316
Name: insulin, dtype: int64, 'Number of unique values': 4, 'Missing Values': 'insulin has 0.00 % missing values.'}
{'Top 5 value counts': No        101060
Steady       692
Up             8
Down           6
Name: glyburide-metformin, dtype: int64, 'Number of unique values': 4, 'Missing Values': 'glyburide-metformin has 0.00 % missing values.'}
{'Top 5 value counts': No        101753
Steady        13
Name: glipizide-metformin, dtype: int64, 'Number of unique values': 2, 'Missing Values': 'glipizide-metformin has 0.00 % missing values.'}
{'Top 5 value counts': No        101765
Steady         1
Name: glimepiride-pioglitazone, dtype: int64, 'Number of unique values': 2, 'Missing Values': 'glimepiride-pioglitazone has 0.00 % missing values.'}
{'Top 5 value counts': No        101764
Steady         2
Name: metformin-rosiglitazone, dtype: int64, 'Number of unique values': 2, 'Missing Values': 'metformin-rosiglitazone has 0.00 % missing values.'}
{'Top 5 value counts': No        101765
Steady         1
Name: metformin-pioglitazone, dtype: int64, 'Number of unique values': 2, 'Missing Values': 'metformin-pioglitazone has 0.00 % missing values.'}
{'Top 5 value counts': No    54755
Ch    47011
Name: change, dtype: int64, 'Number of unique values': 2, 'Missing Values': 'change has 0.00 % missing values.'}
{'Top 5 value counts': Yes    78363
No     23403
Name: diabetesMed, dtype: int64, 'Number of unique values': 2, 'Missing Values': 'diabetesMed has 0.00 % missing values.'}
{'Top 5 value counts': NO     54864
>30    35545
<30    11357
Name: readmitted, dtype: int64, 'Number of unique values': 3, 'Missing Values': 'readmitted has 0.00 % missing values.'}

Several columns within the dataset contained missing values. Specifically, the following columns had missing data: race (2.23%), weight (96.86%), payer_code (39.56%), medical_specialty (49.08%), diag_1 (0.02%), diag_2 (0.35%), and diag_3 (1.40%).

Considering the extraordinarily high percentage of missing values in the weight column, it is impractical to include it in the subsequent analysis. Therefore, the decision has been made to omit this column from further consideration.

The payer_code column, in addition to having a substantial proportion of missing values, does not align with the primary objective of this project. Consequently, it will be removed from the dataset.

Addressing the medical_specialty column, which demonstrates a significant presence of missing values, a prudent approach involves imputing the missing entries with the placeholder 'missing', allowing us to retain valuable information while acknowledging the gaps.

Given the limited quantity of missing values in the race, diag_1, diag_2, and diag_3 columns, it is judicious to exclude the affected records, thereby ensuring the integrity of the remaining data for analysis